.footer {
	padding: 70px 0;
	box-shadow: $box-shadow;
	font-size: 1.1rem;

	&__logo {
		height: 40px;

		@include mobile {
			margin-bottom: 1rem;
		}
	}

	&__about {
		@include mobile {
			margin-bottom: 3rem;
		}
		p {
			margin-bottom: 0.5rem;
			font-style: italic;
			line-height: 2rem;

			@include mobile {
				font-size: 1.5rem;
				text-align: center;
			}
		}
	}

	&__title,
	&__content {
		text-align: right;

		@include tablet {
			text-align: center;
		}

		@include mobile {
			margin-bottom: 4rem;
			text-align: center;
		}
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: 2rem;
		font-size: 1.25rem;
		font-weight: 600;

		@include mobile {
			font-size: 1.75rem;
			margin-bottom: 1.25rem;
		}
	}

	&__content {
		p {
			margin-bottom: 1.25rem;

			@include mobile {
				font-size: 1.5rem;
				margin-bottom: 0.75rem;
			}
		}

		a {
			transition: 0.3s ease !important;
			&:hover {
				font-weight: 600;
			}
		}
	}
}
