.footer {
	padding: 70px 0;
	box-shadow: $box-shadow;
	font-size: 1.1rem;

	&__logo {
		height: 40px;
	}

	&__about {
		p {
			margin-bottom: 0.5rem;
			font-style: italic;
			line-height: 2rem;
		}
	}

	&__title,
	&__content {
		text-align: right;

		@include tablet {
			text-align: center;
		}
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: 2rem;
		font-size: 1.25rem;
		font-weight: 600;
	}

	&__content {
		p {
			margin-bottom: 1.25rem;
		}

		a {
			transition: 0.3s ease !important;
			&:hover {
				font-weight: 600;
			}
		}
	}
}
