.hero-slider {
	height: 100vh;
	max-height: 1080px;
	overflow: hidden;
	position: relative;
	margin-bottom: 50px;
	margin-top: calc(#{$header-height} * -1);

	@include tablet {
		margin-top: calc(#{$header-tablet-height} * -1);
	}

	@include mobile {
		margin-top: calc(#{$header-mobile-height} * -1);
	}

	&__item {
		@include flex(center, space-between);

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		position: absolute;
		inset: 0;

		@include tablet {
			flex-direction: column-reverse;
			padding-top: $header-tablet-height;
		}

		@include mobile {
			padding-top: unset;
			padding-bottom: 40px;
		}

		&.active {
			opacity: 1;
			visibility: visible;
			pointer-events: visible;
		}

		&__info {
			width: 58.33%;

			@include tablet {
				width: 100%;
				flex-grow: 1;
			}

			&__title,
			&__description {
				margin-bottom: 60px;

				@include tablet {
					margin-bottom: 15px;
				}
			}

			&__title {
				font-family: 'M PLUS Rounded 1c', sans-serif;
				font-weight: 600;
				font-size: 4.5rem;
				line-height: 6.75rem;
				overflow: hidden;

				@include tablet {
					font-size: 4rem;
				}

				@include mobile {
					font-size: 2.2rem;
					line-height: 3rem;
				}
			}

			&__description {
				color: $txt-second-color;
				font-size: 1.5rem;
				line-height: 2.25rem;
				overflow: hidden;

				@include mobile {
					font-size: 1.2rem;
					line-height: 1.5rem;
				}
			}

			&__btn {
				overflow: hidden;
			}

			&__title > span,
			&__description > span,
			&__btn button {
				display: block;
				transform: translateX(100%);
				transition: transform 0.7s ease;
			}
		}

		&.active &__info {
			&__title > span,
			&__description > span,
			&__btn button {
				transform: translateX(0);
			}
		}

		&__image {
			flex-grow: 1;
			position: relative;
			height: 100%;
			z-index: 99;
			pointer-events: none;

			@include tablet {
				width: 100%;
				height: 60%;
				@include flex(center, center);
				flex-grow: unset;
				z-index: 98;
			}

			img {
				height: 100vh;
				position: absolute;
				bottom: 0;
				right: 0;
				transform: scale(0) rotate(65deg);
				transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

				@include tablet {
					height: 100%;
					position: relative;
				}
			}
		}

		&.active &__image > img {
			transform: scale(1) rotate(0);
		}

		.shape {
			$size: 472px;
			height: $size;
			width: $size;
			position: absolute;
			right: 0;
			top: 50%;
			border-radius: 30% 70% 64% 36% / 30% 33% 67% 70%;
			transform: translate(0, -50%);
			transition: border-radius 13 ease;
			animation: border 10s infinite;

			@include tablet {
				$size: 300px;
				height: $size;
				width: $size;
				right: 50%;
				transform: translate(50%, -100%);
			}

			@include mobile {
				$size: 280px;
				height: $size;
				width: $size;
				right: 50%;
				transform: translate(50%, -100%);
			}
		}
	}

	&__control {
		@include flex(center, center);
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);

		&__item ~ &__item {
			margin-left: 10px;
		}

		&__item {
			@include flex(center, center);
			font-size: 3rem;
			cursor: pointer;
			transition: 0.2s linear;
			color: $main-color;
			&:hover {
				border-radius: 50%;
				color: $main-bg;
				background-color: $main-color;
			}
		}
	}
}

@keyframes border {
	0% {
		border-radius: 30% 70% 64% 36% / 30% 33% 67% 70%;
	}
	25% {
		border-radius: 52% 48% 27% 73% / 69% 71% 29% 31%;
	}
	50% {
		border-radius: 81% 19% 67% 33% / 42% 28% 72% 58%;
	}
	75% {
		border-radius: 21% 79% 18% 82% / 27% 49% 51% 73%;
	}
	100% {
		border-radius: 30% 70% 64% 36% / 30% 33% 67% 70%;
	}
}
